---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="text-white max-w-xl p-4 mx-auto">
			<h1 class="text-3xl">Sam's Website</h1>
		</div>
	</main>
			<div class="bg-green h-10"></div>
			<div class="bg-yellow h-10"></div>
			<div class="bg-pink h-10"></div>
			<div class="bg-red h-10"></div>
</Layout>

