---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="max-w-xl p-4 mx-auto text-slate-600">
      <h1 class="text-3xl mb-4">Sam's Website</h1>

      <h2 class="mb-2">Colors</h2>
      <div class="flex flex-wrap border border-slate-600">
        <div class="bg-green h-10 flex-grow"></div>
        <div class="bg-yellow h-10 flex-grow"></div>
        <div class="bg-pink h-10 flex-grow"></div>
        <div class="bg-red h-10 flex-grow"></div>
      </div>
    </div>
  </main>
</Layout>
