---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="max-w-xl p-4 mx-auto text-slate-600">
      <h1 class="text-3xl mb-4">Sam's Website</h1>

      <h2 class="mb-2">Colors</h2>
      <div class="flex flex-wrap border border-slate-600 mb-8">
        <div class="bg-green h-10 flex-grow"></div>
        <div class="bg-yellow h-10 flex-grow"></div>
        <div class="bg-pink h-10 flex-grow"></div>
        <div class="bg-red h-10 flex-grow"></div>
      </div>
	  <!-- ABOUT -->
	  <div class="flex">
		<div class="profile w-[250px] h-[250px] flex-shrink-0">
			<img class="w-full h-full object-cover mask" src="https://lh3.googleusercontent.com/pw/ADCreHeJlmbcTeVmf6HDjZiXlzGGORLJy86t0VffV-ssOBahlxQPF9uWDXA2hU4zeLLMTEDFhZoLm_r3HamaXkzF3wqm2zl4zYSLMbLPWty0UuWRzlpyllJAAl5hpUJplMO3jxJUenXE3tIM_m3kcx-1mOHMTvZl8kSxhBq2wms46eqw6g6RPnfetRuD1l35SixjEK1K0sZYZk7tIg1slVwR091xzSnupL2C6c0zb_58y-8iSFO2fe7-LrqJOFvjcwFIg6iTjgE3vwJe3QGWsd9_Kpq9cIUYl8xvd5X6ErRjeCrsqwu4WORF7Snr5QX0DPMtki5RF53kjLVs1pnmO_oeq6G7eKTNNbJ0AdKtYxWlCHux8yBUgqHu1K8S8HaFNYPzeJaYZUXs2SQWo2PEq5dKnZfO75mj53GHycvZBI_3hZDbaYhuya3hoOhcGPUYgq-uTRQGtnJhpzVV4snTv7c-ddtaq80n_snFly_s3lNJHLvzhWtwFahqCFXWZa5ObS9Rfz2nu6zX7lghJ8uKq3pXnXKEaHAlLLfayQPD9cWsEcLpnkPMT8vvY3XSb2eQTWii7Q9ctp1msZE-vuW492SDdOc3Udspga5Q7sDRSnlcNbjlVNk8yc_SsXZUBg5zVDcNgAPzNw_zpq0itMUGbj_8ljc8d22PxhyMHKcG1qBR8-f1SS-WqyFlxpk-Mj3zmOU3MFat8YxhLYSdykLc9fPOwPPUPgbhbRu_aJ7hKfS4aJYyq9SBX2ql1jrisJibXzSz3PRmsQLpjRiFcDy6rxngCit6CGHtBWmj_WekpD_KDsbFlxb_SXg6T-3Ty9rht_1yQbKVd9UzOBXHgEmKC8IShygguGpZbE12HifjL-W2saea4SdyDKsOGrYDW9HiEn9dSvyB12ayLrN6vlpMs2KcZulfE-o=w2104-h1402-s-no?authuser=0" alt="Sam MacIntyre headshot">
		</div>
		<div class="px-4 text-slate-500">
			<p class="mb-3">Hello, I'm Sam</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus ipsam iure ullam unde praesentium nam iusto, reiciendis dolore dolor sint.</p>
		</div>
	  </div>
    </div>
	<svg id="mask-svg" data-image-mask-id="mask-svg" width="0" height="0" style="position: absolute;">
		<defs>
		  <clipPath id="mask" clipPathUnits="objectBoundingBox">
			  <path d="M1,0.802 a0.302,0.201,0,0,0,-0.1,-0.15 a0.303,0.201,0,0,0,0,-0.299 A0.303,0.201,0,0,0,0.702,0.003 h-0.394 a0.303,0.201,0,0,0,-0.203,0.351 a0.303,0.201,0,0,0,0,0.299 a0.303,0.201,0,0,0,0.203,0.35 h0.394 a0.303,0.201,0,0,0,0.303,-0.201"></path>
		  </clipPath>
		</defs>
	  </svg>
  </main>
</Layout>

<style>
.mask {
  /* clip-path: polygon(50% 0%, 100% 10%, 84% 73%, 50% 100%, 0% 38%); */
  clip-path: url("#mask")
}
</style>